{% load static %}
{% block body %}
{% include 'navigation.html' %}

<style>
    .change-password {
        max-width: 500px;
        margin: 60px auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
</style>

<div class="change-password">
    <h3 class="text-center">Change Your Password</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="old_password" class="form-control" placeholder="Current Password" autocomplete="new-password" required>
        <input type="password" autocomplete="new-password" name="new_password" class="form-control mt-3" placeholder="New Password" autocomplete="new-password" required>
        <input type="password" name="confirm_password" class="form-control mt-3" placeholder="Confirm Password" autocomplete="new-password"required>
        <button type="submit" class="btn btn-primary btn-block mt-3">Update Password</button>
    </form>
</div>
{% endblock %}
